*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: "Whitney", sans-serif;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

.container{
    width: 80%;
    margin: 0 auto;
    border: 2px solid coral;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
}

/* HEADER */
header{
    height: 60px;
    background-color: #3161E0;
}

.nav-logo, 
.nav-btn{
    width: 15%;
    background-color: blueviolet;
}

.nav-center{
    width: 70%;
    background-color: chartreuse;
}

.header-menu li{
    display: inline-block;
}