*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: "Whitney", sans-serif;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

.container{
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid coral; */
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
}

.col a{
    text-decoration: none;
}

/* bottom */
.btn-white{
    background-color: white;
    color: black;
}

.btn-black{
    background-color: #23272a;
    color: white;
}

.btn-small{
    padding: .6em 1em;
    border-radius: 2em;
    font-size: .9em;
}

.btn-large{
    padding: 1em 2em;
    border-radius: 2em;
    font-size: 1.2em;
    display: inline-block;
}
/* HEADER */
header{
    height: 60px;
    background-color: #3161E0;
}

.header-nav{
    line-height: 60px;
}

.nav-logo, 
.nav-btn{
    width: 15%;
    /* background-color: blueviolet; */
}

.nav-logo img{
    width: auto;
    height: 40px;
    vertical-align: middle;
}

.nav-center{
    width: 70%;
    /* background-color: chartreuse; */
    text-align: center;
}

.nav-btn{
    text-align: right;
}

.header-menu li{
    display: inline-block;
    margin-right: 2em;
}

.header-menu a{
    font-size: 1em;
    font-weight: bold;
    color: white;
}

/* MAIN */

/* banner */
.banner{
    height: 400px;
    padding: 8em 0;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-content{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.banner-title{
    font-size: 2.5em;
    margin-bottom: .8em;
}

.buttons{
    margin-top: 1.5em;
}

/* section */
.section{
    padding: 3em;
    background-color: blue;
}